body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

#countdown {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    display: inline-block;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#time {
    font-size: 2em;
    font-weight: bold;
}

span {
    font-size: 1.5em;
    color: #e74c3c;
}
